{{#> card }}
  <h1>Enter the password</h1>
  <form class="pure-form pure-form-stacked" method="POST" id="passwordForm">
    <input name="iSessionId" value="{{iSessionId}}" type="hidden">
    <input id="password" class="card-width" type="text" placeholder="Password" name="password">
    <button type="submit" class="card-width pure-button pure-button-primary">Sign in</button>
  </form>
{{/card}}
