{{#> card }}
  <h1>Sign In</h1>
  <form class="pure-form pure-form-stacked">
    <input id="username" class="card-width" type="text" placeholder="Username/Phone Number">
    <button type="submit" class="card-width pure-button pure-button-primary">Sign in</button>
  </form>
{{/card}}
