{{#> card }}
  <h1>Sign up</h1>
  <form class="pure-form pure-form-stacked" method="POST">
    <input id="username" class="card-width" type="text" placeholder="Username" name="username">
    <input id="password" class="card-width" type="password" placeholder="Password" name="password">
    <button type="submit" class="card-width pure-button pure-button-primary">Sign Up</button>
  </form>

{{/card}}
